@import url(./console.css);




.Under-mainte{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 3rem;
}


.Under-mainte h1{
    font-size: 5rem;
    font-weight: 700;
    position: relative;
    top: 2rem;
    left: 13rem;

    
}

