*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  scroll-behavior: smooth;
}




/*---------------- Hero section -------------------*/
/* ----Header/Nav---- */


.logo {
  width: 250px;
  margin: -30px 20px;
}

.collapse {
  padding-left: 60px;
}



/* ----carousel---- */
.carousel {
  width: 100%;
  height: 100%;
}

.carousel img {
  width: 1350px;
  height: 450px;
}





/*---------------- 2nd section (Day8) -------------------*/

.column {
  padding: 15px;
  float: left;
  width: 33.33%;
  height: 72vh;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}


.main-img {
  width: 390px;
}


.sticky {
  margin-top: -50px;
  position: sticky;
  top: -2%;
  padding: 20px;
  width: 100%;
  background-color: white;
  text-align: center;
  z-index: 1;
}

.main-banner-img {
  width: 390px;
  position: relative;
  top: -30px;
  left: -20px;
  margin-bottom: -40px;
 
}


.left {
  float: left;
  padding: 10px;
}


.right {
  float: right;
  padding: 10px;
}



/* -----------------3rd Section (Product)------------------ */
.product {
  display: grid;
  grid: auto / 200px 1fr;
  grid-gap: 0 2em;
  position: relative;
  overflow: auto;
  margin-top: 40%;
  padding: 50px;
  background-color: rgb(255, 255, 255);
  top: 10px;
}
  
.bg-img {
  width: 100vw;
  height: 500px;
  z-index: -1 ;
  position: absolute;
  left: -50px;
}

.best-selling {
  font-size: 2rem;
  position: relative;
  bottom: 3rem;
  left: 1rem;
  font-weight: 500;
  z-index: 1;

}


  
.product-container {
  padding: 0 20vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  background-color: rgb(255, 255, 255);
  z-index: 0;
 
}
  
  
.product-card {
  /* border: 3px solid rgb(255, 191, 16); */
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 10px;
  background-color: rgb(255, 255, 255);
  position: relative;
  top: 30px;
}
  
.product-container::-webkit-scrollbar {
  display: none;
}

.product-image {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  padding: 20px;

}
  
.product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}
  
.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}
  
.product-card:hover .card-btn {
  opacity: 1;
}
  
.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}
  
.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
  margin: 20px;
}
  
.product-brand {
  text-transform: uppercase;
  font-size: 20px;
}
  
.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}
  
.price {
  font-weight: 900;
  font-size: 20px;
}
  
.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}
  
.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}
  
.pre-btn {
  left: 0;
  transform: rotate(180deg);
}
  
.nxt-btn {
  right: 0;
}
  
.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}
  
.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}
  
.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}
  
.collection {
  position: relative;
}
  
.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  
.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}
  
.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}





/* -----------4th Section (Games carousel)----------- */

.game-disc {
  width: 400px;
}

.game-disc:hover {
  transform: scale(1.1);
  transition: 500ms ease-in-out;

}


/* ------ 5th Section (Featured Consoles) ---------- */





/* ------ 6th Section ---------- */

.coming-soon {
  padding: 5% 0 1% 4%;
}


.grid-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  place-items: center center;

}



.item1 {
  width: 80%;
  height: 100%;
  box-shadow: 0 0 20px 0 rgb(0, 0, 0, 1) ;
}

.item2 {
  grid-column: 2/3;
  grid-row: 1/3;
  width: 100%;
  box-shadow: 0 0 20px 0 rgb(0, 0, 0, 1) ;
}

.item3 {
  width: 80%;
  height: 100%;
  box-shadow: 0 0 20px 0 rgb(0, 0, 0, 1) ;
}

.item4 {
  width: 80%;
  height: 100%;
  box-shadow: 0 0 20px 0 rgb(0, 0, 0, 1) ;
}

.item5 {
  width: 80%;
  height: 100%;
  box-shadow: 0 0 20px 0 rgb(0, 0, 0, 1) ;
}

.grid-section > img:hover {
  transform: scale(1.2);
  transition: 900ms ease-in-out ;
  z-index: 2;
}

/*---------- Footer ----------*/
.footer-div {
  width: 100%;
  margin: 0 auto;
}

.footer-content {
  display: grid;
  border: 1px solid;
  background-color: #fff;
  padding: 5vw;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5 1fr);

}

.footer-content > div {
  border: 1px solid blue;
}


.footer-sticky {
  background-color: rgb(255, 191, 16);
  padding: 10%;
  margin: 0;
  width: 100%;
  font-size: 1.5em;
  color: white;
  font-weight: bold;
  text-align: center;

  position: sticky;
  bottom: 50px;
  z-index: -1;

}


/* -----Lower footer----- */
.lower-footer {

  float: left;
  background-color: rgb(0, 0, 0);
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 1rem;
  color: white;
}






/*---------- Media Quiry ----------*/
/* --------Phones--------- */
@media screen and (min-width:320px) and (max-width:375px) {
   
  /* HERO SECTION */
  .logo {
    width: 200px;
  }
  
  .collapse {
    padding-left: 1.5rem;
  }

  .carousel {
    width: 100%;
    height: 100%;
  }

  .carousel img {
    width: 340px;
    height: 150px;
  }

  /* 2nd section (Day8) */
  .column {
    padding: 15px;
    float: left;
    width: 100%;
    height: 69vh;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
  }
  
  
  .main-img {
    width: 280px;
  }
  
  .sticky {
    margin-top: -50px;
    position: sticky;
    top: -2%;
    padding: 20px;
    width: 100%;
    background-color: white;
    text-align: center;
    z-index: 1;
  }
  
  .main-banner-img {
    width: 280px;
    position: relative;
    top: -30px;
    left: -20px;
    margin-bottom: -40px;
   
  }


  /* 3rd Section (Product) */
  .bg-img {
    width: 100vw;
    height: 500px;
    z-index: -1 ;
    position: absolute;
    left: -50px;
  }
  
  
  .product-container {
    padding: 0 20vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    background-color: rgb(255, 255, 255);
    z-index: 0;
   
  }
  .product-container::-webkit-scrollbar {
    display: none;
  }
    
  .product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 10px;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 30px;
  }

  /* -----------------4th Section (Games carousel)------------------ */

  .game-carousel-cell > img {
    width: 300px;
  }

  /* ----------------- 6th Section (Coming soon)------------------ */

  .grid-section {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    gap: 1rem;
    place-items: center center;
  
  }
  
  .item1 {
    width: 80%;
    height: 100%;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0, 1) ;
  }
  
  .item2 {
    width: 100%;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0, 1) ;
  }
  
  .item3 {
    width: 80%;
    height: 100%;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0, 1) ;
  }
  
  .item4 {
    width: 80%;
    height: 100%;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0, 1) ;
  }
  
  .item5 {
    width: 80%;
    height: 100%;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0, 1) ;
  }
  
  .grid-section > img:hover {
    transform: scale(1.2);
    transition: 900ms ease-in-out ;
    z-index: 2;
  }
  



}


/* ----------------Tables--------------- */
@media screen and (min-width:376px) and (max-width:748px) {
   
  /* HERO SECTION */
  .logo {
    width: 200px;
  }
    
  .collapse {
    padding-left: 1rem;
  }

  .carousel {
    width: 100%;
    height: 100%;
  }

  .carousel img {
    width: 100vw;
    height: 30vh;
  }

/* 2nd section (Day8) */
  .column {
    padding: 15px;
    float: left;
    width: 100%;
    height: 75vh;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
  }


  .main-img {
    width: 400px;
  }

  .sticky {
    margin-top: -50px;
    position: sticky;
    top: -2%;
    padding: 20px;
    width: 100%;
    background-color: white;
    text-align: center;
    z-index: 1;
  }

  .main-banner-img {
    width: 400px;
    position: relative;
    top: -30px;
    left: -20px;
    margin-bottom: -40px;
  
  }

/* 3rd Section (Product) */
  .bg-img {
    position: absolute;
    width: 1400px;
    height: 500px;
    z-index: -1 ;
    position: absolute;
    left: -50px;
    
  }
  
    
  .product-container {
    padding: 0 20vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    background-color: rgb(255, 255, 255);
    z-index: 0;
   
  }
  
  .product-container::-webkit-scrollbar {
    display: none;
  }
    
  .product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 10px;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 30px;
  }
    

  /* ----------------- 6th Section (Coming soon)------------------ */

  .grid-section {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    gap: 1rem;
    place-items: center center;
  
  }
  
  .item1 {
    width: 80%;
    height: 100%;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0, 1) ;
  }
  
  .item2 {
    width: 100%;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0, 1) ;
  }
  
  .item3 {
    width: 80%;
    height: 100%;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0, 1) ;
  }
  
  .item4 {
    width: 80%;
    height: 100%;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0, 1) ;
  }
  
  .item5 {
    width: 80%;
    height: 100%;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0, 1) ;
  }
  
  .grid-section > img:hover {
    transform: scale(1.2);
    transition: 900ms ease-in-out ;
    z-index: 2;
  }


}

/* ----------------Larger Screen--------------- */
@media screen and (min-width:1520px) and (max-width:2560px) {

  /* HERO SECTION */
  .logo {
    width: 300px;
  }
    
  .collapse {
    padding-left: 13rem;
  }

  .carousel {
    width: 100%;
    height: 100%;
  }

  .carousel img {
    width: 100vw;
    height: 70vh;
  }

/* 2nd section (Day8) */
  .column {
    padding: 15px;
    float: left;
    width: 33.33%;
    height: 38.5rem;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .main-img {
    width: 520px;
  }

  .sticky {
    /* margin-top: -0px; */
    position: sticky;
    top: -3%;
    padding: 20px;
    width: 100%;
    background-color: white;
    text-align: center;
    z-index: 1;
  }

  .main-banner-img {
    width: 520px;
    position: relative;
    top: -20px;
    /* left: -50px ; */
    margin-bottom: -40px;

  }


  .left {
    float: left;
    padding: 10px;
  }


  .right {
    float: right;
    padding: 10px;
  }


  /* 3rd Section (Product) */
  .bg-img {
    position: absolute;
    width: 1800px;
    height: 500px;
    z-index: -2 ;
    position: absolute;
    left: -50px;
    
  }
  

  .product-container {
    padding: 0 20vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    background-color: rgb(255, 255, 255);
    z-index: 0;
   
  }
  
  .product-container::-webkit-scrollbar {
    display: none;
  }
    
  .product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 10px;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 30px;
  }






}



    

  /* ----------------- 6th Section (Coming soon)------------------ */




